@import '/src/Themes/mixins.scss';

.featured-client{
    @include display-flex-center-div;
    gap: 0.4rem;
    margin-right:20px;
    margin-left:20px;

    &--client-logo{
        object-fit: contain;
    }

    &--client-company-name{
        font-size: 1.5rem;
        font-weight: 600;
    }
}